<div class="container-fluid">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <a routerLink="test">1. Test Page</a><br><br>
      <a routerLink="asyncMethod">2. Async Method</a><br><br>
      <a routerLink="parentChild">3. Parent Children</a><br><br>
      <a routerLink="nestedFormArray">4. Nested Array</a><br><br>
      <a routerLink="inheritClass">5. Inherit Class</a><br><br>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
 
