<div class="container">
  <form [formGroup]="testForm" (ngSubmit)="onSubmit();">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <p>isShowTrainingBilling=={{isShowTrainingBilling}}</p>
          <p>&nbsp;</p>
          <mat-tab-group mat-align-tabs="start" class="cust-tab-col">
              <mat-tab label="First">Content 1</mat-tab>
              <mat-tab label="Second">Content 2</mat-tab>
              <mat-tab label="Third">Content 3</mat-tab>
            </mat-tab-group>
        </div>>
        <div class="col-2"></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
          <mat-form-field class="full-width no-underline">
            <div class="matfield-outline">
              <input matInput formControlName="name">
            </div>
          </mat-form-field>  
          <div>&nbsp;</div>
        </div>
        <div class="col-4">
          <mat-form-field class="full-width">
            <div class="matfield-outline">
              <input matInput formControlName="amount" mask="separator.2" thousandSeparator="," decimalMarker="." prefix="$">
            </div>
          </mat-form-field>  
          <div>&nbsp;</div>
        </div>
        <div class="col-2"></div>
      </div>  
      <div class="row">
          <div class="col-2"></div>
          <div class="col-8"> 

            <div formArrayName="COMPs">
              <table style="width:100%;" aria-describedby="">
                      <tr>
                        <th scope="col" style="width: 16%; font-size: 13px; font-weight: bold;height:30px;">Stratified&nbsp;Amount</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col" style="width: 16%; font-size: 13px; font-weight: bold;">Funded&nbsp;Amount</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col" style="width: 16%; font-size: 13px; font-weight: bold;">Obligated&nbsp;Amount</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col" style="width: 16%; font-size: 13px; font-weight: bold;">Paid&nbsp;Amount</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col" style="width: 16%; font-size: 13px; font-weight: bold;">Fiscal&nbsp;Year</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col" style="width: 16%; font-size: 13px; font-weight: bold;">Collection&nbsp;Account</th>
                      </tr>
                      <tr *ngFor="let comp of COMPs.controls; let i=index" formGroupName="{{i}}">
                        <td style="width: 16%;">
                          <div class="matfield-outline">
                            <input matInput formControlName="txtStratifiedAm">
                          </div>
                        </td>
                        <td></td>
                        <td>
                          <div class="matfield-outline">
                            <input matInput formControlName="txtFundedAm">
                          </div>
                        </td>
                        <td></td>
                        <td>
                          <div class="matfield-outline">
                            <input matInput formControlName="txtObligatedAm">
                          </div>
                        </td>
                        <td></td>
                        <td>
                          <div class="matfield-outline">
                            <input matInput formControlName="txtPaidAm">
                          </div>
                        </td>
                        <td></td>
                        <td>
                          <div class="matfield-outline">
                            <input matInput formControlName="txtBillFY">
                          </div>
                        </td>
                        <td></td>
                        <td>
                          <div class="matfield-outline">
                            <input matInput formControlName="txtCollectAcctNm">
                          </div>
                        </td>
                      </tr>
                </table>  
              </div>            
          </div>

          <div class="col-2"></div>
      </div>  
      <p>&nbsp;</p>
      <div class="row">
          <div class="col-2"></div>
          <div class="col-8"> 
           
            <table mat-table [dataSource]='dsFundingDocs' class="mat-elevation-z8" matSort aria-describedby="">
              <ng-container matColumnDef="userCaseId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Case</th>
                <td mat-cell *matCellDef="let element;">
                  {{element.userCaseId}}
                </td>
              </ng-container>
              <ng-container matColumnDef="userCaseLineNumberId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Line</th>
                <td mat-cell *matCellDef="let element;">
                  {{element.userCaseLineNumberId}}
                </td>
              </ng-container>

              <ng-container matColumnDef="popOver">
                <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Popover</th>
                <td mat-cell *matCellDef="let element;">
                  <table>
                    <tr>
                      <td width="80%">Notification Title</td>
                      <td width="20%">
                        <mde-popover #appPopover1="mdePopover" [mdePopoverOverlapTrigger]="false">
                          <mat-card style="max-width: 300px">
                            <mat-card-content>
                              {{element.documentNumber}}
                            </mat-card-content>
                          </mat-card>
                        </mde-popover>
  
                        <button mat-raised-button color="primary"
                          [mdePopoverTriggerFor]="appPopover1"
                           mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
                            Popover1
                        </button>
                      </td>
                    </tr>
                  </table>
                  <div></div>
                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayColumnsFD; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayColumnsFD;"
                  (click)="onRowClick(row)" [style.background]="row === selectedRow ? 'lightgrey' : ''">
              </tr>
            </table>


          </div>
          <div class="col-2"></div>    
      </div>
      <button type="submit" >Submit</button>
      <p>&nbsp;</p>
      <mat-form-field >
        <mat-select formControlName="txtJobType">
          <mat-option *ngFor="let client of clients" [value]="client.id" class="b">
            {{client.clientName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="never">
        <div class="matfield-outline-extra">
        <mat-select formControlName="txtOption" (selectionChange)="onChange();">
          <mat-option value="A">Select Options</mat-option>
          <mat-optgroup *ngFor="let group of optionGroups" [label]="group.name" [disabled]="group.disabled" >
            <mat-option *ngFor="let option of group.options" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        </div>
      </mat-form-field> 
<P>&nbsp;</P>
<P>&nbsp;</P>
      <mat-form-field class="full-width" appearance="outline">
        <input matInput [matDatepicker]="picker" formControlName="txtDate" (dateChange)="validDate(txtDate.value);">  
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint align="start" style="color: red;" *ngIf="txtDate.dirty || txtDate.touched">
          <span *ngIf="txtDate.invalid">
            invalid date
          </span>
        </mat-hint> 
      </mat-form-field> 


   </form>
  <button type="button" (click)="doUnload();">New Tab</button>
  <button type="button" (click)="clearForm();">Clear Form</button>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
<button mat-raised-button color="primary"
  [mdePopoverTriggerFor]="appPopover"
  mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
  Show Popover
</button>

<mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card style="max-width: 300px">
    <mat-card-content>
    A material design popover component created using Angular version 8 with the Angular CDK.
    </mat-card-content>
  </mat-card>
</mde-popover>



<!--
<button mat-raised-button color="primary"
  [mdePopoverTriggerFor]="appPopover1"
  mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
  Show Popover1
</button>

<mde-popover #appPopover1="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card style="max-width: 300px">
    <mat-card-content>
    111 A material design popover component created using Angular version 8 with the Angular CDK.
    </mat-card-content>
  </mat-card>
</mde-popover>
-->


</div>

  
  